:root {
    --primary-color: #0241C9;
    --secondary-color: #DAF8D6;
    --background-color: #fcf1a1;
    --text-color: #264653;
    --border-radius: 5px;
}

* {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* Header */
/* header, nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(255,255,255,0.9);
} */

header {
    /* display: flex;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 80%, transparent 100%); */
    display: grid;
    grid-template-columns: 36px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px var(--primary-color);
    column-gap: 8px;

}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--text-color);
}

/* Hamburger */
.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 2rem;
}

/* Navigation */
/* nav {
    top: auto;
    bottom: 0;
    background: rgba(0,0,0,0.8);
} */

/* nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1rem;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
} */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .85rem 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: solid 1px var(--primary-color);
}

.navigation li.current {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
}

.navigation a:hover {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
}

/* Hero */
/* section {
    position: relative;
    width: 100%;
} */

.hero {
    width: 100%;
    height: auto;
    display: block;
    border-radius: var(--border-radius);
}

/* Main */

main {
    margin-top: 2rem;
    padding: 20px;
}

/* Footer */

footer {
    display: flex;
    font-size: small;
    justify-content: space-around;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: var(--border-radius);
}


.chamber p, .foot p {
    margin: 0.1em 0;
    line-height: 1.2;
    color: var(--text-color);
}