/* Color Scheme
darkblue
green #077d21
pale celadon #ddf7e5
pale goldenrod
 */
 
 * {
    font-family: "Epunda Slab", Cambria, Cochin, Georgia, serif;
    box-sizing: border-box;
 }

.epunda-slab-font {
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

 /* Header */
 header {
    display: grid;
    grid-template-columns: 36px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #077d21;
    column-gap: 8px;

 }

 header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
 }

 header span {
    font-size: 1.2rem;
    color: darkblue;
 }

 /* Hamburger */
 .hamburger {
    background: none;
    border: none;
    color: #077d21;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .hamburger::after {
    content: "\2630";
    font-size: 2rem;
 }

  .hamburger.show::after {
    content: "\00D7";
    font-size: 2rem;
  }

/* Navigation */

  .navigation {
    display: none;
  }

  .navigation.show {
    display: block;
  }

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .85rem 10px;
    color: darkblue;
    text-decoration: none;
    border-bottom: solid 1px #077d21;
}

.navigation li.current {
    background-color: #ddf7e5;
}

.navigation a:hover {
    background-color: palegoldenrod;
}

/* Main */

h1 {
    color: darkblue;
    margin-left: 10px;
}

h2 {
    color: darkblue;
    margin-left: 10px;
    margin-right: 10px;
    background-color: palegoldenrod;
    border: solid 1px #077d21;
    border-radius: 4px;
}

.about p {
    color: darkblue;
    margin-left: 20px;
    margin-right: 15px;
}

.photo img {
    margin-left: 20px;
}

/* Footer */

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 8px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}